#gallery_div{
    float: left;
    width: 1200px;
    margin: auto;
}
.gallery{
    width: 200px;
}
ul, li{
    margin: 5px;
    padding: 0px;
}
.gallery ul{
    list-style-type: none;
}

.gallery li{
    float: right;
    list-style: none;
    position: relative;
}
.gallery a{
    text-decoration: none;
}
.gallery h1{
    position: absolute;
    width: 100%;
    bottom:0px;
    background: rgba(0,0,0,.3);
    color: whitesmoke;
    padding: 6px 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 12px;
}
.gallery ul:hover h1{
    color: aquamarine;
}

.gallery img{
    -webkit-webkit-transition: all 1s ease;
    -moz-webkit-transition: all 1s ease;
    -ms-webkit-transition: all 1s ease;
    -o-webkit-transition: all 1s ease;
    transition: all 1s ease;
    filter: blur(.7px);
    -webkit-filter: blur(.7px);
    -moz-filter: blur(.7px);
    -ms-filter: blur(.7px);
    -o-filter: blur(.7px);
}

.gallery img:hover{
    -webkit-webkit-transition: all 1s ease;
    -moz-webkit-transition: all 1s ease;
    -ms-webkit-transition: all 1s ease;
    -o-webkit-transition: all 1s ease;
    transition: all 1s ease;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    -o-filter: blur(0px);
    transform: translateZ(25px) rotate(2deg);
    border: 0.7px solid black;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}