figure{
    width: 320px;
    height: 220px;
    margin: 5px;
    float: left;
    position: relative;
    border: 1px solid white;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
    display: block;
}
figcaption{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    color: white;
    padding: 10px;
    -webkit-box-sizing: border-box;
}
figcaption p{
    font-size: 17px;
    text-align: justify;
    margin-top: 5px;
}
figcaption a{
    text-decoration: none;
    color: white;
}
figure figcaption h1, h2, h3, h4{
    display: block;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 5px;
    cursor: pointer;
    text-align: right;
    font-size: 24px;
}

figcaption h1:hover, h2:hover, h3:hover, h4:hover{
    background: rgba(0, 0, 0, 0.6);
    color: azure;
    cursor: pointer;
}
